In [135]:
import csv
import urllib2
import pandas as pd

# IMPORTING THE FILE FOR SAT SCORES FOR 2012
SAT_Score = pd.read_csv("https://data.cityofnewyork.us/api/views/f9bf-2cp4/rows.csv?accessType=DOWNLOAD")

In [136]:
SAT_Score.replace('s','NaN', inplace=True, regex=True)
SAT_Score = SAT_Score.dropna()

In [137]:
SAT_Score['District'] = SAT_Score['DBN'].map(lambda x: str(x)[:2])
SAT_Score['District'] = (SAT_Score['District']).astype(float)
# SAT_Score['Num_test_taker'] = (SAT_Score['Num of SAT Test Takers']).astype(float)
SAT_Score['SAT_avg_reading'] = (SAT_Score['SAT Critical Reading Avg. Score']).astype(float)
SAT_Score['SAT_avg_writing'] = (SAT_Score['SAT Writing Avg. Score']).astype(float)
SAT_Score['SAT_avg_math'] = (SAT_Score['SAT Math Avg. Score']).astype(float)

SAT_Score.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 478 entries, 0 to 477
Data columns (total 10 columns):
DBN                                478 non-null object
SCHOOL NAME                        478 non-null object
Num of SAT Test Takers             478 non-null object
SAT Critical Reading Avg. Score    478 non-null object
SAT Math Avg. Score                478 non-null object
SAT Writing Avg. Score             478 non-null object
District                           478 non-null float64
SAT_avg_reading                    421 non-null float64
SAT_avg_writing                    421 non-null float64
SAT_avg_math                       421 non-null float64
dtypes: float64(4), object(6)
memory usage: 41.1+ KB

In [138]:
# SAT_Score.head(10)

In [139]:
SAT_Score = SAT_Score.groupby('District').mean()

In [140]:
# SAT_Score['Total_Score'] = pd.DataFrame(SAT_Score['SAT_avg_reading'] + SAT_Score['SAT_avg_writing'] +
#                                         SAT_Score['SAT_avg_math'])

In [141]:
# SAT_Score['Index']=''
# for i in SAT_Score.index:
#     SAT_Score.Index[i-1]=(i-1)
    
# SAT_Score = SAT_Score.set_index('Index')

In [142]:
SAT_Score = SAT_Score.reset_index()

In [143]:
SAT_Score.head(3)

   District  SAT_avg_reading  SAT_avg_writing  SAT_avg_math
0         1       423.777778       413.555556    468.444444
1         2       424.068966       419.448276    441.344828
2         3       424.846154       417.076923    426.000000

In [144]:
SAT_Score['Total_Score'] = pd.DataFrame(SAT_Score['SAT_avg_reading'] + SAT_Score['SAT_avg_writing'] +
                                        SAT_Score['SAT_avg_math'])

In [145]:
SAT_Score.head(3)

   District  SAT_avg_reading  SAT_avg_writing  SAT_avg_math  Total_Score
0         1       423.777778       413.555556    468.444444  1305.777778
1         2       424.068966       419.448276    441.344828  1284.862069
2         3       424.846154       417.076923    426.000000  1267.923077