In [3]:
%pylab inline
import numpy as np
import geopandas as gp
import matplotlib.pyplot as pl
import pandas as pd
import sklearn.cluster
from sklearn import mixture
from PIL import Image
from scipy.misc import imread
from scipy.cluster.vq import kmeans2
import json
import os
import zipfile
# s = json.load(open(os.getenv('PUI2015')+'/PUI2015_MMajumdar/pui.json'))
# pl.rcParams.update(s)

Populating the interactive namespace from numpy and matplotlib

WARNING: pylab import has clobbered these variables: ['imread']
`%matplotlib` prevents importing * from pylab and numpy

In [2]:

dataYears = ['94', '95', '96', '97', '98', '99', '00', '01', '02', '03', 
             '04', '05', '06', '07', '08', '09', '10', '11', '12', '13']

for year in dataYears:
    fname = 'zbp'+year+'totals.zip' 
    zf = zipfile.ZipFile(fname)
    try:
        temp = pd.read_csv(zf.open(fname.replace('.zip','.txt')))[['zip','est']]
    except KeyError:
        temp = pd.read_csv(zf.open(fname.replace('.zip','.txt')))[['ZIP','EST']]  
    temp.columns = [['zip','est'+year]]
    if(year == '94'):
        data = pd.DataFrame(temp)
    data = pd.merge(data,temp,on='zip')
data.head()

,zip,est94_x,est94_y,est95,est96,est97,est98,est99,est00,est01,...,est04,est05,est06,est07,est08,est09,est10,est11,est12,est13
0,1001,439,439,439,433,457,444,469,493,490,...,500,509,509,503,477,458,448,436,453,439
1,1002,450,450,467,487,500,490,558,563,587,...,584,589,582,596,584,571,570,558,572,572
2,1003,10,10,10,13,15,14,13,13,13,...,15,12,12,16,17,16,16,16,15,15
3,1004,47,47,48,47,41,31,35,48,37,...,43,31,30,20,18,18,21,19,16,16
4,1005,92,92,95,101,104,95,82,86,90,...,97,94,98,106,97,87,96,91,94,97

In [3]:
data.drop('est94_y', axis=1, inplace=True)
data = data.rename(columns={'est94_x':'est94'})
data.head()

,zip,est94,est95,est96,est97,est98,est99,est00,est01,est02,...,est04,est05,est06,est07,est08,est09,est10,est11,est12,est13
0,1001,439,439,433,457,444,469,493,490,490,...,500,509,509,503,477,458,448,436,453,439
1,1002,450,467,487,500,490,558,563,587,566,...,584,589,582,596,584,571,570,558,572,572
2,1003,10,10,13,15,14,13,13,13,15,...,15,12,12,16,17,16,16,16,15,15
3,1004,47,48,47,41,31,35,48,37,23,...,43,31,30,20,18,18,21,19,16,16
4,1005,92,95,101,104,95,82,86,90,94,...,97,94,98,106,97,87,96,91,94,97

In [4]:
data.info()
print len(data['zip'].unique())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35954 entries, 0 to 35953
Data columns (total 21 columns):
zip      35954 non-null int64
est94    35954 non-null int64
est95    35954 non-null int64
est96    35954 non-null int64
est97    35954 non-null int64
est98    35954 non-null int64
est99    35954 non-null int64
est00    35954 non-null int64
est01    35954 non-null int64
est02    35954 non-null int64
est03    35954 non-null int64
est04    35954 non-null int64
est05    35954 non-null int64
est06    35954 non-null int64
est07    35954 non-null int64
est08    35954 non-null int64
est09    35954 non-null int64
est10    35954 non-null int64
est11    35954 non-null int64
est12    35954 non-null int64
est13    35954 non-null int64
dtypes: int64(21)
memory usage: 6.0 MB
35953

In [5]:
NYC_zip = gp.read_file('nyc-zip-code-tabulation-areas-polygons.geojson')
NYC_zip.info()
NYC_zip.head()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 262 entries, 0 to 261
Data columns (total 12 columns):
@id               262 non-null object
BLDGpostalCode    262 non-null int64
CTY_FIPS          262 non-null object
OBJECTID          262 non-null int64
PO_NAME           262 non-null object
STATE             262 non-null object
ST_FIPS           262 non-null object
Shape_Area        262 non-null float64
Shape_Leng        262 non-null float64
borough           262 non-null object
geometry          262 non-null object
postalCode        262 non-null object
dtypes: float64(2), int64(2), object(8)
memory usage: 26.6+ KB

,@id,BLDGpostalCode,CTY_FIPS,OBJECTID,PO_NAME,STATE,ST_FIPS,Shape_Area,Shape_Leng,borough,geometry,postalCode
0,http://nyc.pediacities.com/Resource/PostalCode...,0,081,1,Jackson Heights,NY,36,20163283.87440,20624.692317,Queens,POLYGON ((-73.86942457284175 40.74915687096787...,11372
1,http://nyc.pediacities.com/Resource/PostalCode...,0,081,2,Glen Oaks,NY,36,22606526.91390,23002.816039,Queens,POLYGON ((-73.71068374074007 40.75004039450917...,11004
2,http://nyc.pediacities.com/Resource/PostalCode...,0,081,3,New Hyde Park,NY,36,6269333.41234,15749.161511,Queens,POLYGON ((-73.70098278625547 40.73889569923034...,11040
3,http://nyc.pediacities.com/Resource/PostalCode...,0,081,4,Bellerose,NY,36,49418364.05770,35932.810639,Queens,POLYGON ((-73.72270447144122 40.75373371438336...,11426
4,http://nyc.pediacities.com/Resource/PostalCode...,0,081,5,Fresh Meadows,NY,36,69385865.59430,38693.565676,Queens,POLYGON ((-73.81088634744755 40.72717187575918...,11365

In [18]:
NYC_zip['postalCode'] = NYC_zip['postalCode'].astype(int64)
NYC_zip.info()
NYC_zipCodes = pd.DataFrame(NYC_zip['postalCode']).drop_duplicates()
print NYC_zipCodes.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 262 entries, 0 to 261
Data columns (total 12 columns):
@id               262 non-null object
BLDGpostalCode    262 non-null int64
CTY_FIPS          262 non-null object
OBJECTID          262 non-null int64
PO_NAME           262 non-null object
STATE             262 non-null object
ST_FIPS           262 non-null object
Shape_Area        262 non-null float64
Shape_Leng        262 non-null float64
borough           262 non-null object
geometry          262 non-null object
postalCode        262 non-null int64
dtypes: float64(2), int64(3), object(7)
memory usage: 26.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 247 entries, 0 to 261
Data columns (total 1 columns):
postalCode    247 non-null int64
dtypes: int64(1)
memory usage: 3.9 KB
None

In [22]:
finalData = pd.merge(data, NYC_zipCodes, left_on = 'zip', right_on = 'postalCode')
finalData.info()
print len(finalData['zip'].unique())
print finalData.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 230 entries, 0 to 229
Data columns (total 22 columns):
zip           230 non-null int64
est94         230 non-null int64
est95         230 non-null int64
est96         230 non-null int64
est97         230 non-null int64
est98         230 non-null int64
est99         230 non-null int64
est00         230 non-null int64
est01         230 non-null int64
est02         230 non-null int64
est03         230 non-null int64
est04         230 non-null int64
est05         230 non-null int64
est06         230 non-null int64
est07         230 non-null int64
est08         230 non-null int64
est09         230 non-null int64
est10         230 non-null int64
est11         230 non-null int64
est12         230 non-null int64
est13         230 non-null int64
postalCode    230 non-null int64
dtypes: int64(22)
memory usage: 41.3 KB
230
     zip  est94  est95  est96  est97  est98  est99  est00  est01  est02  \
0  10001   6999   7088   7075   7154   7254   7233   7317   7188   7141
1  10002   1784   1819   1919   2049   2003   2085   2277   2543   2269
2  10003   3256   3377   3417   3535   3649   3659   3683   3602   3616
3  10004   1115   1124   1133   1173   1176   1233   1294   1247   1253
4  10005   1076   1109   1216   1227   1270   1242   1287   1249   1244

      ...      est05  est06  est07  est08  est09  est10  est11  est12  est13  \
0     ...       7312   7415   7549   7472   7305   7241   7227   7235   7273
1     ...       2682   2686   2685   2691   2775   2872   2912   2954   2988
2     ...       3867   3909   4049   4071   4099   4113   4159   4214   4277
3     ...       1260   1311   1370   1376   1379   1398   1404   1442   1479
4     ...       1214   1259   1273   1291   1274   1266   1301   1273   1296

   postalCode
0       10001
1       10002
2       10003
3       10004
4       10005

[5 rows x 22 columns]

In [23]:
finalData.drop('postalCode', axis=1, inplace=True)
finalData.index = finalData.zip
finalData = finalData[finalData.columns[1:21]]

In [24]:
finalData = (finalData - finalData.mean())/finalData.std()
finalData.head()

,est94,est95,est96,est97,est98,est99,est00,est01,est02,est03,est04,est05,est06,est07,est08,est09,est10,est11,est12,est13
zip,,,,,,,,,,,,,,,,,,,,
10001,5.304774,5.239058,5.207499,5.147116,5.172789,5.157744,5.122902,4.998208,5.111174,5.055590,5.129405,5.110101,5.157372,5.328369,5.276719,5.207516,5.138689,5.098606,5.042905,5.012079
10002,0.839114,0.835064,0.907626,0.978188,0.922860,0.985632,1.109648,1.315042,1.125201,1.225034,1.295671,1.405279,1.396396,1.411745,1.416194,1.500523,1.567149,1.584571,1.590165,1.588062
10003,2.099603,2.137289,2.156891,2.191709,2.255060,2.261254,2.229219,2.154756,2.227234,2.290259,2.270214,2.353489,2.369048,2.510075,2.530506,2.583980,2.581633,2.600099,2.606389,2.618064
10004,0.266242,0.254162,0.252137,0.262815,0.253522,0.295142,0.326904,0.287403,0.293972,0.284167,0.286919,0.267426,0.302857,0.352871,0.354368,0.358147,0.362194,0.356492,0.370697,0.382265
10005,0.232846,0.241624,0.321356,0.306913,0.329601,0.302436,0.321330,0.288989,0.286608,0.241623,0.241573,0.230618,0.261502,0.274764,0.285733,0.272223,0.254287,0.272611,0.234394,0.236035